doctype html
html(lang='pt')
    include common/header
    +head #{title}
    body(style="height: 100vh; width: 100%;")
        include common/navbar
        div(class="container" style="margin-top:30px; height: 100vh; width: 100%;")
            h1.text-center Acerca
            p.lead Este projecto foi desenvolvido para a unidade curricular de Programação Web (2019/2020), do #[a(href="http://www2.uab.pt/guiainformativo/detailcursos.php?curso=63" target="_blank") Mestrado em Tecnologias e Sistemas Informáticos Web] da Universidade Aberta.
            p.lead This project has been developed for the subject Web Programming (2019/2020), part of the #[a(href="http://www2.uab.pt/guiainformativo/detailcursos.php?curso=63" target="_blank") Master's in Web Technologies and Systems] from Open University of Portugal.
            br
            h3.text-center Créditos / Credits
            table(id="creditos" class="table table-striped table-bordered" style="width:100%")
                thead
                    tr
                        th Nome / Name
                        th Papel / Role
                tbody
                    tr
                        td André Santo
                        td Autor / Author
                    tr
                        td Professor Vitor Cardoso
                        td Professor orientador / Advisor
            br
            h3.text-center Tecnologias utilizadas / Technologies Used
            table(id="tecnologias" class="table table-striped table-bordered" style="width:100%")
                thead
                    tr
                        th Nome
                        th URL
                tbody
                    tr
                        td node.js
                        td
                            a(href="https://nodejs.org/" target="_blank") Abrir/Open
                    tr
                        td Express
                        td
                            a(href="https://expressjs.com/" target="_blank") Abrir/Open
                    tr
                        td Boostrap
                        td
                            a(href="https://getbootstrap.com/" target="_blank") Abrir/Open
                    tr
                        td jQuery
                        td
                            a(href="https://jquery.com/" target="_blank") Abrir/Open
                    tr
                        td leafletjs
                        td
                            a(href="https://leafletjs.com/" target="_blank") Abrir/Open
                    tr
                        td DataTables
                        td
                            a(href="https://datatables.net/" target="_blank") Abrir/Open
                    tr
                        td SweetAlert
                        td
                            a(href="https://sweetalert.js.org/" target="_blank") Abrir/Open
                    tr
                        td Font Awesome
                        td
                            a(href="https://fontawesome.com/" target="_blank") Abrir/Open
            br
            p.text-center.font-weight-bold Todo o código deste projecto está disponível no #[a(href="https://github.com/a-santo/CarrisUI" target="_blank") GitHub]
            p.text-center.font-weight-bold The entire source code of this project is available in my #[a(href="https://github.com/a-santo/CarrisUI" target="_blank") GitHub repository]


    script.
        $(document).ready(function () {
            $('.table').DataTable({
                "language": {
                    "url": "/javascripts/Portuguese.json"
                },
                "searching": false,
                "paging": false,
                "info": false,
                "sorting": false,
                responsive: true
            });
        });