mixin head(title)
    head
    meta(charset='utf-8' name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title=title
    //[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]
    //<base href="/">
    script(src="/javascripts/jquery-3.4.1.min.js")
    script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src='/javascripts/gps.js')
    script(src="/javascripts/leaflet.js")
    script(src="/javascripts/bootstrap-select.min.js")
    script(src="/javascripts/leaflet-routing-machine.js")
    script(src="/javascripts/Control.Geocoder.min.js")
    script(src="/javascripts/leaflet-ant-path.js")
    script(src="/javascripts/sweetalert.min.js")
    script(src="/javascripts/jquery.dataTables.min.js")
    script(src="/javascripts/dataTables.bootstrap4.min.js")
    script(src="/javascripts/dataTables.responsive.min.js")
    script(src="/javascripts/responsive.bootstrap4.min.js")
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/leaflet.css")
    link(rel="stylesheet" href="/stylesheets/bootstrap-select.min.css")
    link(rel="stylesheet" href="/stylesheets/leaflet-routing-machine.css")
    link(rel="stylesheet" href="/stylesheets/Control.Geocoder.css")
    link(rel="stylesheet" href="/stylesheets/responsive.bootstrap4.min.css")
    link(rel="stylesheet" href="/stylesheets/all.min.css")
